body{
	background: none; 
	background-color: none;
}
#navBar{
	box-shadow: 1px 1px #C7C7C7;
}

#inputArea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    width: 310px;
	margin: 0 auto 0 auto;
	padding: 60px 10px 10px 10px;
}

#inputArea input[type="text"], #inputArea textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de; 
    width: 300px;
    background-color: #EDF2F7;
}

@media screen and (max-width: 760px){
	.timeWrap{min-width: 0px;}
	#timer{font-size:4em;}
	#caption, #title{font-size: 2em;}
}

/*--- mobile ---*/
@media screen and (max-width: 480px){
	.timeWrap{min-width: 0px;}
	#timer{font-size:2.5em;}
	#caption, #title{font-size: 2em;}
}